body{
    background-color: #d2a6e3;
    margin: 0px;
    color: #fcfcfc;
}

h1{
    text-align: center;
    background-color: #fcfcfc;
    color: #d2a6e3;
    padding: 1rem;
    margin: 0px;
    margin-bottom: 0.67em;
}

.container-center{
    max-width: 500px;
    margin: auto;
    background-color: #d2a6e3;
    border: solid #fcfcfc;
    padding: 2rem 2rem 3rem 2rem;
    border-radius: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
   

}

.input{
    padding: 1rem 0rem;
    margin-top: 5px;
    margin-bottom: 5px;
}



label{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

input{
    width: 97%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.cash-amount input{
    border: solid #fcfcfc 1px;
    background-color: #fcfcfc;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #d2a6e3;
    font-size: large;
}



button{
    background-color: #fcfcfc;
    border: solid #d2a6e3 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #d2a6e3;
    font-size: medium;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table{
    border: solid #fcfcfc 2px;
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.table th,td{
    border: solid #fcfcfc 2px;
    padding: 1rem;
}

.footer{
    text-align: center;
    background-color: #fcfcfc;
    color: #d2a6e3;
    padding: 1rem;
    font-size: large;
    font-weight: 100;
    margin-top: 10%;
}
